*{
    margin: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
.container{
    background-image: url(drawing-mahakal-shiva-images-11605108362ayypaztuuz.jpg);
    height: 100%;
    width: 100%;
    background-origin: content-box;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
    background-size: 100% 100%;
    filter: blur(10px);
}

.music{
    z-index: 1000;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    color: white;
    width: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hidden{
    display: none;
}

.music{
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.about{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.picture{
    height: 230px;
    width: 200px;
    background-image: url(1953418.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10%;
    z-index: 30%;
}

.name{
    font-size: 5px;
}
h1{
    font-size: 35px;
}

h3{
    font-size: 20px;
    margin-top: -5px;
    margin-bottom: 20px;
}

.icon{
    display: flex;
    display: inline;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.pre, .play, .next{
    padding: 20px;
    opacity: 0.8;
    display: inline-block;
    padding-bottom: 50px;
}

.pre:hover, .play:hover, .next:hover{
    opacity: 1;
}

/* .sider{
    width: 70px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: inline;
} */

.sider{
    width: 225px;
}

.start, .total, .slider{
    display: inline-block;
}

.volume{
    padding-top: 25px;
}

.volume-slider{
    width: 35%;
}

/* .seek_slider {
    width: 60%;
} */

/* .start{
    line-height: 38px;
    font-size: 15px;
    font-family: monospace;
    text-shadow: 1px 1px 0px black;
    color: white;
    flex: 5;
    position: relative;
  }
  
  .start div {
    position: absolute;
    background-color: rgba(255,255,255,0.2);
    left: 0;
    top: 0;
    width: 0;
    height: 38px;
    z-index: 2;
  }
  
  .start span {
    position: absolute;
    z-index: 3;
    left: 19px;
  } */

  .slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }